<% layout('layout') -%>

<h1>RNS Manager</h1>

<p>RSK Name Service provides an architecture which enables the identification of RSK addresses by human-readable names.</p>

<img src="/images/introduction.png" class="img img-responsive" alt="introduction">

<h2 id="how-to-start">First time in RNS?</h2>

<p><a href="/setup">Setup</a> MetaMask to join RSK Network.</p>

<h2>Don't you have RIFs yet?</h2>

<p>Check <a target="_blank" href="https://rifos.org/exchanges">integrated exchanges</a> and join the Internet of Value.</p>

<h2>Don't you have your domain?</h2>

<p><a title="reigster" href="/register-a-domain" class="nav-link get-started">Register</a></p>

<br>

<h3>Integrate RNS in my app (Wallet, Exchange, dApp, etc):</h3>
<p>Go to <a href="https://docs.rns.rsk.co/Operation/Resolve-a-name">Resolve a name</a> and <a href="https://docs.rns.rsk.co/Libs">Libraries</a> sections.</p>

<h3>I’m a blockchain developer. I want to code!</h3>
<p>Go to <a href="https://docs.rns.rsk.co/Architecture">Architecture</a> and <a href="https://docs.rns.rsk.co//Libs">Libraries</a> sections, contribute in the <a href="https://github.com/rnsdomains/RNS">RNS Github</a>, or read the <a href="https://docs.rsk.co/rsk-name-service-specification-en.pdf">RNS specification doc</a>.</p>

<h3>I loved this site, I want to contribute</h3>
<p>Go to the <a href="https://github.com/rnsdomains/RNS-manager">RNS Manager Github</a>.</p>
