<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head %>
</head>

<body>

<% include templates/header %>

<div class="hero">
    <div class="page-header">
        <div class="circles"></div>
    </div>
</div>

<div class="page-wrapper">
    <div class="row">
        <% include templates/nav-breadcrumbs-actions %>
    </div>
    <div class="container">
        <div id="main-content">
            <%- body %>
        <hr>
        </div>
        <div id="main-menu">
            <% include templates/nav-page-menu %>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>

<% include templates/includes.ejs %>

</body>
</html>
