<% layout('layout') -%>

<h1>Set node owner</h1>

<p>Set the node's owner.</p>

<form onsubmit="return handleGetRecord()">
    <% btnId = 'owner' %>
    <% btnText = 'Check domain owner' %>
    <%- include templates/name %>
</form>

<br />

<% include templates/no-metamask.ejs %>

<div id="no-owner" class="response hide-on-name-keyup" style="display: none;">
    This entry has no owner.<br><br>
    <a class="btn btn-default" href="/status">Check the domain status</a>
</div>

<% include templates/tx-readme %>

<div id="owner-response" class="response hide-on-name-keyup" style="display: none;">
    <form onsubmit="return handleSetAddr()">
        <% addrId = 'set-owner' %>
        <% addrText = 'Set owner' %>
        <% include templates/address.ejs %>
    </form>

    <br><br>

    <div id="action-alert"></div>
</div>

<hr>

<p>Learn more about the ownership of domains in the <a href="https://docs.rns.rsk.co/Architecture/Registry#transfer-ownership">documentation page</a>.</p>

<script src="/scripts/set-owner.js"></script>
