<% layout('layout') -%>

<h1>Set node resolver</h1>

<p>Set the resolver for the domain.</p>

<% btnId = 'resolver' %>
<% btnText = 'Check domain resolver' %>
<%- include templates/name %>

<br>

<% include templates/no-metamask.ejs %>

<br>

<div id="resolver-response" class="response hide-on-name-keyup" style="display: none;">
    <% addrId = 'set-resolver' %>
    <% addrText = 'Set resolver' %>  
    <% include templates/address.ejs %>

    <br><br>

    <div id="action-alert"></div>
</div>

<hr>

<p>Learn more about resolution of domains in the <a href="https://docs.rns.rsk.co/architecture/registry">documentation page</a>.</p>

<script src="/scripts/set-resolver.js"></script>
