<% layout('layout') -%>

<div style="width:100%">
    <h1>Setup</h1>
    <ol class="setup">
        <li><a href="https://metamask.io/" target="_blank">Install MetaMask</a></li>
        <li>
            <p>Connect MetaMask to RSK:</p>
            <ol>
                <li>
                    Open 'Network' selector<br>
                    <img src="/images/setup-metamask.png" class="img-responsive" />
                </li>
                <li>Select 'Custom RPC'</li>
                <li>
                    Complete 'New RPC URL' with <i>https://public-node.rsk.co:443</i> and save.<br>
                    <img src="/images/setup-custom-metamask.png" class="img-responsive" />
                </li>
            </ol>
        </li>
        <li>
            <p>Add RIF token (optional):</p>
            <ol>
                <li>Open 'Add token'</li>
                <li>Go to 'Custom token'</li>
                <li>
                    Complete address field with RIF Token address: <br>
                    <div class="address-text"><a href="#" onclick="window.location.href=config.explorer.url + config.explorer.address + '0x2acc95758f8b5f583470ba265eb685a8f45fc9d5';" >0x2acc95758f8b5f583470ba265eb685a8f45fc9d5</a></div>
                </li>
                <li>Add the token</li>
                <li>Now you are ready to start using the manager, <a href="/register-a-domain">register your domain</a>!</li>
            </ol>
            <img src="/images/setup-metamask-final.png" class="img-responsive" />
        </li>
    </ol>
</div>
