<div class="form-group" id="address-group">
    <label for="input-owner">RSK address <span id="display-address"></span></label>
    <input type="text" id="address" class="form-control" />
    <label id="address-error"></label>
</div>

<button id="<%- addrId %>" class="btn btn-default disable-on-addr-invalid" type="submit"><%- addrText %></button>
<i id="addr-action-loading" class="fas fa-spinner loading" style="display: none;"></i>
