<footer class="content-info">
	<div class="container">
	    <div class="row">
		    <div class="col-2 bottom-margin no-mobile">
		        <a href=""><img class="logo" src="/images/logo-footer.png" alt="RNS"/></a>
            </div>
		    <div class="col-md col-lg-2 bottom-margin">
		        <section class="widget nav_menu-2 widget_nav_menu">
			        <h4>RNS</h4>
                    <ul id="menu-footer-1" class="menu">
                        <li class="menu-item menu-solutions"><a href="https://rns.rsk.co/">Home</a></li>
                        <li class="menu-item menu-framework"><a href="https://github.com/rnsdomains/">Github</a></li>
                        <li class="active menu-item menu-get-started"><a href="https://docs.rsk.co/rsk-name-service-specification-en.pdf">Specification</a></li>
                        <li class="menu-item menu-blog"><a href="https://githug.com/rnsdomains/RNSIPs/">Collaborate</a></li>
                    </ul>
                </section>
            </div>
		    <div class="col-md col-lg-2 bottom-margin">
		        <section class="widget nav_menu-3 widget_nav_menu">
			        <h4>Resources</h4>
                    <ul id="menu-footer-2" class="menu">
                        <li class="menu-item menu-about"><a href="https://manager.rns.rsk.co/">Manager</a></li>
                        <li class="menu-item menu-contact"><a href="https://docs.rns.rsk.co/">Documentation</a></li>
                        <li class="menu-item menu-blog"><a href="https://rsk.co/">RSK Smart</a></li>
                    </ul>
                </section>
		    </div>
		    <div class="col-md col-lg-3 bottom-margin">
		        <section class="widget nav_menu-3 widget_nav_menu">
			        <h4>Github</h4>
                    <ul id="menu-footer-2" class="menu">
                        <li class="menu-item menu-about"><a href="https://githug.com/rnsdomains/RNS/">RNS Core</a></li>
                        <li class="menu-item menu-contact"><a href="https://githug.com/rnsdomains/RNS-manager/">Manager</a></li>
                        <li class="menu-item menu-blog"><a href="https://githug.com/rnsdomains/rnsdomains.github.io/">Documentation</a></li>
                    </ul>
		    `   </section>
            </div>
		    <div class="col-md col-lg-3 bottom-margin">
		        <section class="widget_text widget custom_html-2 widget_custom_html">
			        <h4>Copyright</h4>
                    <div class="textwidget custom-html-widget">
			            <p>&copy; 2018 RSK Labs. All Rights Reserved.</p>
			        </div>
                </section>
		        <section class="widget_text widget custom_html-3 widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <p>
                            <a class="soc-link" href="https://twitter.com/RSKsmart" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="soc-link" href="https://t.me/RSKsmartcontracts" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                            <a class="soc-link" href="https://github.com/rnsdomains" target="_blank"><i class="fab fa-github"></i></a>
			            </p>
                    </div>
		        </section>
		    </div>
	    </div>
    </div>
</footer>
