<header class="banner" role="banner">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark at-rest" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="https://rsk.co/">
                <img class="logo" src="/images/logo.png" alt="RNS"/>
            </a> 
            <div class="collapse navbar-collapse" id="primary-nav">
                <ul id="menu-primary-nav" class="nav navbar-nav ml-auto">
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38 nav-item">
                        <a title="Github" href="https://github.com/rnsdomains/" class="nav-link">Github</a>
                    </li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37 nav-item">
                        <a title="Documentation" href="https://docs.rns.rsk.co/" class="nav-link">Documentation</a>
                    </li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37 nav-item">
                        <a title="RNS Manager" href="https://manager.rns.rsk.co" class="nav-link">Manager</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-nav" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggle-icon"></span>
            </button>
        </div>
    </nav>
</header>
