<div class="container" style="padding-right: 10px;">
	<div id="sidebarContent">
		<nav class="toc" role="application" aria-label="Table of Contents" id="filterResults">
			<a href="/">RNS Manager</a>
			<ul>
				<li><a title="Resolve a domain" href="/resolve">Resolve a domain</a></li>
				<li><a title="Domain status" href="/domain-status">Check domain status</a></li>
				<li><a title="Register a domain" href="/register-a-domain">Register a domain</a></li>
				<li>Manage a domain
					<ul>
						<li><a title="Set address" href="/set-addr">Set address</a></li>
						<li><a title="Set node owner" href="/set-owner">Set owner</a></li>
						<li><a title="Set subnode owner" href="/set-subnode">Set subnode owner</a></li>
						<li><a title="Set node resolver" href="/set-resolver">Set resolver</a></li>
					</ul>
				</li>
				<li><a title="Deed" href="/deed">Domain ownership admin</a></li>
				<li><a href="https://docs.rns.rifos.org/">Documentation</a></li>
				<li><a href="https://docs.rns.rifos.org/Tools/RNS-Manager/">Help</a></li>
				<li><a href="/setup">Setup</a></li>
			</ul>
		</nav>
	</div>
</div>
