<!-- missing MetaMask -->
<div id="metamask-alert" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <p>
        <b>Oh! You have no MetaMask!</b>
        Please check the <a href="/setup">setup</a>!
    </p>
</div>
