<!--
<p>
  <a id="tx-readme-link" href="#">Read before executing a tx</a>
  <span id="tx-readme" style="display: none;">
    <br />
    Before executing any transaction on MetaMask you should check:<br />
    1. Network selected is RSK.<br />
    2. Gas price! Before tx confirmation, go to 'edit gas fee' and in advanced tab check the gas price. Actual minimum gas price is <span id="mgp"></span> gwei.
  </span>
</p>
-->
<p id="wrong-network" class="error-message">
  Check if you are connected to the RSK Mainnet network. Go to <a href="/setup">setup</a> and follow the instructions.
</p>
<p id="no-gas" class="error-message">
  You have no RBTCs to execute transactions. <a href="#">Get RBTCs!</a>
</p>
