<p>
  <a id="tx-readme-link" href="#">Read before executing a tx</a>
  <span id="tx-readme" style="display: none;">
    <br />
    Before executing any transaction on MetaMask you should check:<br />
    1. Network selected is RSK.<br />
    2. Gas price! Before tx confirmation, go to 'edit gas fee' and in advanced tab check the gas price. Actual minimum gas price is <span id="mgp"></span> gwei.
  </span>
</p>
<p id="wrong-network" style="display: none; color: red;">
  <b>You are not connected to RSK MainNet! Please check MetaMask configuration following <a href="/setup">setup</a>.</b>
</p>
