<button id="view-data" class="btn-link">View data</button>

<div id="tx-data" class='tx' style="display: none;" role="alert">
    <div id="tx-data-error" class="ellipsis" style="color: red;">No input setted</div>
    <div id="tx-data-to" class="ellipsis"></div>
    <div id="tx-data-value" class="ellipsis"></div>
    <div id="tx-data-data" class="ellipsis"></div>
</div>
